name: Build and Push to GHCR

on:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Comment(Shafi): GHCR auth fails because our repo name has uppercase characters
      - name: Lowercase the repo name
        run: echo "REPO_LOWER=${GITHUB_REPOSITORY,,}" >> ${GITHUB_ENV}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          # tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          tags: ghcr.io/${{ env.REPO_LOWER }}:latest
          secrets: |
            "dagshub_username=${{ secrets.DAGSHUB_USER_NAME }}"
            "dagshub_token=${{ secrets.DAGSHUB_TOKEN }}"
            "mlflow_uri=${{ secrets.MLFLOW_TRACKING_URI }}"