name: DVC Data Pull

on:
  # push:
  #   branches: [ main ]
  # pull_request:
  #   branches: [ main ]
  workflow_dispatch:

jobs:
  pull-data:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install

      - name: Install Dependencies
        run: uv tool install dvc

      - name: Configure DVC Secrets
        run: |
          # Use --local to ensure credentials aren't committed to the runner's git state
          dvc remote modify origin --local auth basic
          dvc remote modify origin --local user ${{ secrets.DAGSHUB_USER_NAME }}
          dvc remote modify origin --local password ${{ secrets.DAGSHUB_TOKEN }}

      - name: Pull Data from DVC
        run: |
          dvc pull -r origin

      - name: Verify Data
        run: |
          ls -R data/
          echo "Dataset successfully pulled!"